<nav class="e2submenu">
  <h2>Program Name</h2>
  <ul>
    <li><a href="/submissions">Submissions</a></li>
    <li><a href="/fulfillments">Fulfillments</a></li>
    <li><a href="/holds">Holds</a></li>
    <li><a href="/rewards">Rewards</a></li>
    <li><a href="/fraud-rules">Fraud Rules</a></li>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Submissions per day for <a href="#">Pepsi Program</a></h3>
        </div>
        <div class="panel-body">
          <img class="img-responsive" src="http://Chartholdr.io/bar/600/400/c=5fbcd2" alt="...">
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Total Submissions for <a href="#">Pepsi Program</a></h3>
        </div>
        <div class="panel-body">
          <img class="img-responsive" src="http://Chartholdr.io/line/600/400/c=5fbcd2" alt="...">
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Submissions Results for <a href="#">Pepsi Program</a></h3>
        </div>
        <div class="panel-body">
          <img class="img-responsive" src="http://Chartholdr.io/pie/600/400/c=5fbcd2" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Rewards for <a href="#">Pepsi Program</a></h3>
        </div>
        <div class="panel-body">
          <img class="img-responsive" src="http://Chartholdr.io/pie/600/400/c=5fbcd2" alt="...">
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">No more chart title ideas</h3>
        </div>
        <div class="panel-body">
          <img class="img-responsive" src="http://Chartholdr.io/bar/600/400/c=5fbcd2" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>